<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center">
            <img class="logo" src="../../assets/img/uniandes-medicina.png" alt="Universidad de Los Andes - Facultad de Medicina"/>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div *ngIf="account == null" class="row">
        <div class="col-md-12 text-center">
            <button routerLink="/" class="btn btn-login">
                Sign in
            </button>
        </div>
    </div>
    <div *ngIf="account != null" class="row">
        <div class="col-md-12 text-center">
            <button routerLink="/" class="btn btn-login">
                Simulador
            </button>
        </div>
    </div>
</div>