.logo {
    max-width: 70%;
    margin: auto;
}

.btn-login {
    background-color: rgb(0,191,157);
    color: white;
    max-width: 30%;
    min-width: 30%;
    transition: 0.3s;
}

.btn-login:hover{
    background-color: rgb(0, 159, 130);
    transition: 0.3s;
}

.btn-login:active {
    background-color: rgb(0, 142, 116);
    transition: 0.3s;
}

.btn-logout {
    background-color: rgb(0, 191, 185);
    color: white;
    max-width: 20%;
    min-width: 20%;
    transition: 0.3s;
}

.btn-logout:hover{
    background-color: rgb(0, 151, 159);
    transition: 0.3s;
}

.btn-logout:active {
    background-color: rgb(0, 140, 142);
    transition: 0.3s;
}

.container-fluid {
    position: relative;
    top: 10em;
}