<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center">
            <img class="logo" src="../../assets/img/uniandes-medicina.png" alt="Universidad de Los Andes - Facultad de Medicina"/>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div *ngIf="!isLoggedIn()" class="row">
        <div class="col-md-12 text-center">
            <button class="btn btn-login" (click)="login()">
                Sign in
            </button>
        </div>
    </div>
    <div *ngIf="isLoggedIn()" class="row">
        <div class="col-md-12 text-center">
            <h4><strong>Usuario:</strong> {{account.username}}</h4>
            <button routerLink="/simulador" class="btn btn-login">
                Simulador
            </button>
            <p><strong>Atención:</strong> si el usuario que se muestra no coincide con tu usuario, por favor cierra sesión con el botón de abajo e intenta de nuevo.</p>
            <button class="btn btn-logout" (click)="logout()">
                Sign out
            </button>
        </div>
    </div>
    <div *ngIf="isLoggedIn()">
        <button (click)="callProfile()">
            Get Profile
        </button>
        <p>Api response is: </p>
        <p>{{apiResponse}}</p>
    </div>
</div>